<footer class="footer footer-desktop">
  <div class="page-width">
    <div class="footer__content">
      <div class="footer__col">
        <h4 class="footer__title">Company</h4>
        <ul class="footer__link-content" style="display: none">
          <li>
            <a class="footer__link" href="#">Videos</a>
          </li>
          <li>
            <a class="footer__link" href="#">Press</a>
          </li>
          <li>
            <a class="footer__link" href="#">Careers</a>
          </li>
          <li>
            <a class="footer__link" href="#">Customer Reviews</a>
          </li>
          <li>
            <a class="footer__link" href="#">Weapon X Press Kits</a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h4 class="footer__title">Connect With Us</h4>
        <ul class="footer__link-content" style="display: none">
          <li>
            <a class="footer__link" href="#">Become A Dealer</a>
          </li>
          <li>
            <a class="footer__link" href="#">Dealer Locator</a>
          </li>
          <li>
            <a class="footer__link" href="#">Become An Affiliate</a>
          </li>
          <li>
            <a class="footer__link" href="#">Schedule A Virtual Demo</a>
          </li>
          <li>
            <a class="footer__link" href="#">Partner With Us</a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h4 class="footer__title">Bike Categories</h4>
        <ul class="footer__link-content" style="display: none">
          <li>
            <a class="footer__link" href="#">Urban Electric Bikes</a>
          </li>
          <li>
            <a class="footer__link" href="#">Comfort Electric Bikes</a>
          </li>
          <li>
            <a class="footer__link" href="#">Electric Mountain Bikes</a>
          </li>
          <li>
            <a class="footer__link" href="#">Fat Tire Electric Bikes</a>
          </li>
          <li>
            <a class="footer__link" href="#">Compare All Bikes</a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h4 class="footer__title">SUPPORT</h4>
        <ul class="footer__link-content" style="display: none">
          <li>
            <a class="footer__link" href="#">Terms and Conditions</a>
          </li>
          <li>
            <a class="footer__link" href="#">Privacy Policy</a>
          </li>
          <li>
            <a class="footer__link" href="#">Warranty Policies</a>
          </li>
          <li>
            <a class="footer__link" href="#">Shipping & Return Policy</a>
          </li>
          <li>
            <a class="footer__link" href="#">User Manual</a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h4 class="footer__title active">Contact Us</h4>
        <div class="footer__link-content">
          <p class="footer__contact-text">
            CALL US:
            <span class="cell-phone">
              901-602-4877</span>
          </p>
          <p class="footer__contact-text footer__contact-faq">
            RIDER SUPPORT / FAQ
          </p>
          <p class="footer__contact-text footer__newsletter">
            NEWSLETTER
          </p>
          <form action="" class="form">
            <div class="form__content">
              <input
                class="form__input"
                type="text"
                placeholder="Your Email...">
              {% render 'envelope' %}
            </div>
          </form>
        </div>
      </div>

    </div>
    <div class="footer__bottom">
      <div class="footer__brand-box">
        <div class="footer__brand-item">
          <a href="#">
            <img src="{{ 'amazon.png' | asset_url }}" alt="">
          </a>
        </div>
        <div class="footer__brand-item">
          <a href="#">
            <img src="{{ 'amex.png' | asset_url }}" alt="">
          </a>
        </div>
        <div class="footer__brand-item">
          <a href="#">
            <img src="{{ 'apple-pay.png' | asset_url }}" alt="">
          </a>
        </div>
        <div class="footer__brand-item">
          <a href="#">
            <img src="{{ 'bitcoin.png' | asset_url }}" alt="">
          </a>
        </div>
        <div class="footer__brand-item">
          <a href="#">
            <img src="{{ 'master-card.png' | asset_url }}" alt="">
          </a>
        </div>
        <div class="footer__brand-item">
          <a href="#">
            <img src="{{ 'paypal.png' | asset_url }}" alt="">
          </a>
        </div>
        <div class="footer__brand-item">
          <a href="#">
            <img src="{{ 'visa.png' | asset_url }}" alt="">
          </a>
        </div>
        <div class="footer__brand-item">
          <a href="#">
            <img src="{{ 'amazon.png' | asset_url }}" alt="">
          </a>
        </div>
        <div class="footer__brand-item">
          <a href="#">
            <img src="{{ 'amex.png' | asset_url }}" alt="">
          </a>
        </div>
        <div class="footer__brand-item">
          <a href="#">
            <img src="{{ 'apple-pay.png' | asset_url }}" alt="">
          </a>
        </div>
        <div class="footer__brand-item">
          <a href="#">
            <img src="{{ 'bitcoin.png' | asset_url }}" alt="">
          </a>
        </div>
        <div class="footer__brand-item">
          <a href="#">
            <img src="{{ 'master-card.png' | asset_url }}" alt="">
          </a>
        </div>

        <div class="footer__brand-item">
          <a href="#">
            <img src="{{ 'visa.png' | asset_url }}" alt="">
          </a>
        </div>
      </div>
      <div class="footer__text-box">
        <p class="footer__text">© 2022 FLX Bike | 4170 Morena Blvd Ste D, San Diego, CA 92117</p>
      </div>
      <div class="footer__icon-box">
        <a class="footer__icon-link" href="#">{% render 'instagram' %}</a>
        <a class="footer__icon-link" href="#">{% render 'facebook' %}</a>
        <a class="footer__icon-link" href="#">{% render 'youtube' %}</a>
        <a class="footer__icon-link" href="#">{% render 'twitter' %}</a>
        <a class="footer__icon-link" href="#">{% render 'tiktok' %}</a>
      </div>
    </div>

  </div>
</footer>
<footer class="footer footer-mobile">
  <div class="page-width">
    <div class="footer__content">
      <div class="footer__col">
        <h4 class="footer__title footer__title-mobile">Company</h4>
        <ul class="footer__link-content-mobile" style="display: none">
          <li>
            <a class="footer__link" href="#">Videos</a>
          </li>
          <li>
            <a class="footer__link" href="#">Press</a>
          </li>
          <li>
            <a class="footer__link" href="#">Careers</a>
          </li>
          <li>
            <a class="footer__link" href="#">Customer Reviews</a>
          </li>
          <li>
            <a class="footer__link" href="#">Weapon X Press Kits</a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h4 class="footer__title footer__title-mobile">Connect With Us</h4>
        <ul class="footer__link-content-mobile" style="display: none">
          <li>
            <a class="footer__link" href="#">Become A Dealer</a>
          </li>
          <li>
            <a class="footer__link" href="#">Dealer Locator</a>
          </li>
          <li>
            <a class="footer__link" href="#">Become An Affiliate</a>
          </li>
          <li>
            <a class="footer__link" href="#">Schedule A Virtual Demo</a>
          </li>
          <li>
            <a class="footer__link" href="#">Partner With Us</a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h4 class="footer__title footer__title-mobile">Bike Categories</h4>
        <ul class="footer__link-content-mobile" style="display: none">
          <li>
            <a class="footer__link" href="#">Urban Electric Bikes</a>
          </li>
          <li>
            <a class="footer__link" href="#">Comfort Electric Bikes</a>
          </li>
          <li>
            <a class="footer__link" href="#">Electric Mountain Bikes</a>
          </li>
          <li>
            <a class="footer__link" href="#">Fat Tire Electric Bikes</a>
          </li>
          <li>
            <a class="footer__link" href="#">Compare All Bikes</a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h4 class="footer__title footer__title-mobile">SUPPORT</h4>
        <ul class="footer__link-content-mobile" style="display: none">
          <li>
            <a class="footer__link" href="#">Terms and Conditions</a>
          </li>
          <li>
            <a class="footer__link" href="#">Privacy Policy</a>
          </li>
          <li>
            <a class="footer__link" href="#">Warranty Policies</a>
          </li>
          <li>
            <a class="footer__link" href="#">Shipping & Return Policy</a>
          </li>
          <li>
            <a class="footer__link" href="#">User Manual</a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h4 class="footer__title footer__title-mobile active">Contact Us</h4>
        <div class="footer__link-content-mobile">
          <p class="footer__contact-text">
            CALL US:
            <span class="cell-phone">
              901-602-4877</span>
          </p>
          <p class="footer__contact-text footer__contact-faq">
            RIDER SUPPORT / FAQ
          </p>
          <p class="footer__contact-text footer__newsletter">
            NEWSLETTER
          </p>
          <form action="" class="form">
            <div class="form__content">
              <input
                class="form__input"
                type="text"
                placeholder="Your Email...">
              {% render 'envelope' %}
            </div>
          </form>
        </div>
      </div>

    </div>

    <div class="footer__brand-box">
      <div class="footer__brand-item">
        <a href="#">
          <img src="{{ 'amazon.png' | asset_url }}" alt="">
        </a>
      </div>
      <div class="footer__brand-item">
        <a href="#">
          <img src="{{ 'amex.png' | asset_url }}" alt="">
        </a>
      </div>
      <div class="footer__brand-item">
        <a href="#">
          <img src="{{ 'apple-pay.png' | asset_url }}" alt="">
        </a>
      </div>
      <div class="footer__brand-item">
        <a href="#">
          <img src="{{ 'bitcoin.png' | asset_url }}" alt="">
        </a>
      </div>
      <div class="footer__brand-item">
        <a href="#">
          <img src="{{ 'master-card.png' | asset_url }}" alt="">
        </a>
      </div>
      <div class="footer__brand-item">
        <a href="#">
          <img src="{{ 'paypal.png' | asset_url }}" alt="">
        </a>
      </div>
      <div class="footer__brand-item">
        <a href="#">
          <img src="{{ 'visa.png' | asset_url }}" alt="">
        </a>
      </div>
      <div class="footer__brand-item">
        <a href="#">
          <img src="{{ 'amazon.png' | asset_url }}" alt="">
        </a>
      </div>
      <div class="footer__brand-item">
        <a href="#">
          <img src="{{ 'amex.png' | asset_url }}" alt="">
        </a>
      </div>
      <div class="footer__brand-item">
        <a href="#">
          <img src="{{ 'apple-pay.png' | asset_url }}" alt="">
        </a>
      </div>
      <div class="footer__brand-item">
        <a href="#">
          <img src="{{ 'bitcoin.png' | asset_url }}" alt="">
        </a>
      </div>
      <div class="footer__brand-item">
        <a href="#">
          <img src="{{ 'master-card.png' | asset_url }}" alt="">
        </a>
      </div>

      <div class="footer__brand-item">
        <a href="#">
          <img src="{{ 'visa.png' | asset_url }}" alt="">
        </a>
      </div>
    </div>
    <div class="footer__text-box">
      <p class="footer__text footer__text-desktop">© 2022 FLX Bike | 4170 Morena Blvd Ste D, San Diego, CA 92117</p>
    </div>
    <div class="footer__icon-box">
      <a class="footer__icon-link" href="#">{% render 'instagram' %}</a>
      <a class="footer__icon-link" href="#">{% render 'facebook' %}</a>
      <a class="footer__icon-link" href="#">{% render 'youtube' %}</a>
      <a class="footer__icon-link" href="#">{% render 'twitter' %}</a>
      <a class="footer__icon-link" href="#">{% render 'tiktok' %}</a>
    </div>
    <p class="footer__text footer__text-mobile">© 2022 FLX Bike | 4170 Morena Blvd Ste D, San Diego, CA 92117</p>


  </div>
</footer>


{% schema %}
  {
    "name": "t:sections.footer.name",
    "blocks": [
      {
        "type": "link_list",
        "name": "t:sections.footer.blocks.link_list.name",
        "settings": [
          {
            "type": "link_list",
            "id": "menu",
            "default": "footer",
            "label": "t:sections.footer.blocks.link_list.settings.menu.label",
            "info": "t:sections.footer.blocks.link_list.settings.menu.info"
          }
        ]
      }
    ],
    "settings": [

      {
        "type": "header",
        "content": "t:sections.footer.settings.header__7.content"
      }, {
        "type": "checkbox",
        "id": "payment_enable",
        "default": true,
        "label": "t:sections.footer.settings.payment_enable.label"
      }
    ]
  }
{% endschema %}
<script
  src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
  crossorigin="anonymous"></script>
<script>
  // Footer Accordion--------------
  $(document).ready(function() {

// toggle the component with class accordion_body
    $(".footer__title-mobile").click(function() {

      if ($(".footer__link-content-mobile").is(":visible")) {
        $(".footer__link-content-mobile").slideUp(500);

// $(".plusminus").text("+");
        $(".footer__title-mobile").removeClass("active");
      }
      if ($(this).next(".footer__link-content-mobile").is(":visible")) {
        $(this).next(".footer__link-content-mobile").slideUp(500);

// $(this).children(".asked-question__plus").text("+");
        $(this).removeClass("active");
      } else {
        $(this).next(".footer__link-content-mobile").slideDown(500);

// $(this).children(".asked-question__plus").text("+");
        $(this).addClass("active");
      }
    });
  });
</script>

<style>
  .footer-mobile {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .footer__text-desktop,
    .footer-desktop {
      display: none;
    }

    .footer__text-mobile,
    .footer-mobile {
      display: block;
    }
    .footer__title-mobile {
      position: relative;
      opacity: 1;
      border-top: 1px solid #fff;

      padding: 15px 0;
      text-align: center;
      margin-bottom: 0;
    }

    .footer__title-mobile:first-child {
      border-bottom: 1px solid #fff;
    }

    .footer__title-mobile::after {
      position: absolute;
      content: url("{{'white-down-arrow.svg' | asset_url}}");
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.3s ease;
    }
    .footer__title-mobile.active::after {
      transform: translateY(-50%) rotate(180deg);
    }

    .footer__link-content-mobile {
      text-align: center;
      margin-bottom: 0;
      padding: 20px 0;
    }
    .footer__newsletter {
      text-align: left;
    }

    .form {
      margin-top: 15px;
    }

    .footer__brand-box {
      gap: 9px;
    }
    .footer__icon-box {
      margin-top: 30px;
    }
    .footer__text {}
  </style>